<div class="col row calendar-hours no-print">
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">Hodiny</h4>
      <ngx-datatable [rows]="hourInfo" [rowHeight]="'auto'" [headerHeight]="50" [footerHeight]="50">
        <ngx-datatable-column name="Osoba" prop="workUser.name" [draggable]="false" width="100">
        </ngx-datatable-column>
        <ngx-datatable-column name="Hodiny" prop="hours" [draggable]="false">
        </ngx-datatable-column>
        <!--<ngx-datatable-column name="Dovolena #dnu" prop="vacationDays" [draggable]="false" width="170">
        </ngx-datatable-column>-->
      </ngx-datatable>
    </div>
  </div>
</div>