<div class="container-fluid">
    <div class="row no-print">
        <app-calendar-form #calendarForm (generateCells)="generateCells(calendarForm.month)" [month]="renderMonth"></app-calendar-form>
        <app-calendar-requirements-form></app-calendar-requirements-form>
        <!--<app-calendar-requirements></app-calendar-requirements>-->
        <div>
            <button class="btn btn-primary" (click)="print()">Print</button>
            <button class="btn btn-primary" (click)="save()" [disabled]="!selectedMonth">Save</button>

            <input type="file" id="fileLoader" name="files" title="Load File" style="display:none;" (change)="loadFileSelected($event)" />
            <button class="btn btn-primary" (click)="load()">Load</button>
        </div>
    </div>
    <div class="row" style="margin-top: 30px;">
        <app-calendar [calendar]="calendar" [requirements]="requirements" [workUserFilter]="workUserFilter"></app-calendar>
        <app-calendar-hours [hourInfo]="hourInfo"></app-calendar-hours>
    </div>
</div>