<div class="row">
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">Nastavenie</h4>
      <form class="form-horizontal">
        <div class="form-group row">
          <label for="month" class="col-md col-lg col-form-label">Mesiac</label>
          <div class="col-md col-lg">
            <input class="form-control" type="month" id="month">
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Generuj</button>
      </form>
    </div>
  </div>
</div>