/* You can add global styles to this file, and also import other style files */

body {
    padding-top: 50px;
}

.datatable-header {
    font-size: 22px;
}

.calendar-cell-day {
    margin: 3px;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 0.2%;
}

.calendar-cell-day>.card-block {
    padding: 1% 7% 0% 1%;
    width: 9em;
}

.popover-content {
    width: 16em;
}

/* colors */
.katka-bckg {
    background: purple;
}

.btn-primary.active.katka-bckg {
    background-color: purple;
    text-decoration: underline;
}

.matej-bckg {
    background: lightblue;
}

.btn-primary.active.matej-bckg {
    background-color: lightblue;
    text-decoration: underline;
}

.david-bckg {
    background: green;
}

.btn-primary.active.david-bckg {
    background-color: green;
    text-decoration: underline;
}

.mariana-bckg {
    background: pink;
}

.btn-primary.active.mariana-bckg {
    background-color: pink;
    text-decoration: underline;
}

.honza-bckg {
    background: yellow;
}

.btn-primary.active.honza-bckg {
    background-color: yellow;
    text-decoration: underline;
}

.tomas-bckg {
    background: orange;
}

.btn-primary.active.tomas-bckg {
    background-color: orange;
    text-decoration: underline;
}
