<div class="card col calendar-cell" [ngClass]="(day.isWeekend ? 'weekend' : '') + ' ' + (day.isHoliday ? 'holiday' : '')">
    <div class="card-block">
        <div class="text-center">{{day.dateString}}</div>
        <form class="form-horizontal">
            <div class="form-group row">
                <fieldset [disabled]="!day.isEditable">
                    <select required class="form-control" id="workUser" name="workUser" [ngModel]="day.workUser ? day.workUser.id : 0" (ngModelChange)="setWorkUser($event)" [ngClass]="day.backgroundCss">
                        <option value="0"> -- select -- </option>
                        <option *ngFor="let workUser of workUsers" [value]="workUser.id">{{workUser.name}}</option>
                    </select>
                </fieldset>
            </div>
            <div class="form-group row">
                <input type="number" class="calendar-cell-hours text-center" name="shiftHours" [ngModel]="day.shiftHours" (ngModelChange)="setShiftHours($event)">
            </div>
        </form>
    </div>
</div>