<div class="card col calendar-cell" [id]="day.dateString" [ngClass]="day.cssClass">
    <div class="card-block">
        <popover-content #popoverInvalidContent placement="top">
            <div class="row col" *ngFor="let m of day.invalidMessages">
                <span>{{m}}</span>
            </div>
        </popover-content>
        <div class="row" [popover]="popoverInvalidContent" [popoverDisabled]="!day.invalidMessages" [popoverDismissTimeout]="3000" >
            <span class="col text-left calendar-cell-date">{{day.dateString}}</span>
            <input type="number" class="col justify-content-start calendar-cell-hours text-center" name="shiftHours" [ngModel]="day.shiftHours"
                (ngModelChange)="setShiftHours($event)">
        </div>
        <div class="row">
            <fieldset [disabled]="!day.isEditable">
                <select required class="calendar-cell-worker" id="workUser" name="workUser" [ngModel]="day.workUser ? day.workUser.id : 0"
                    (ngModelChange)="setWorkUser($event)" [ngClass]="day.backgroundCss">
                    <option value="0"> -- select -- </option>
                    <option *ngFor="let workUser of workUsers" [value]="workUser.id">{{workUser.name}}</option>
                </select>
                <li class="calendar-cell-success fa fa-check" *ngIf="day.greenIcon"></li>
                <li class="calendar-cell-fail fa fa-times" *ngIf="day.redIcon"></li>
            </fieldset>
        </div>
        <popover-content #popoverRequirementsContent>
            <div class="row col" *ngFor="let r of day.requirements">
                <button type="button" class="close" style="float: left;" aria-label="close" (click)="removeRequirement(r.id)">
                    <span aria-hidden="true">&times;</span>
                </button>
                <span>{{r.workUser.name + ', ' + r.requirementType.display + ', ' + r.priority.display}}</span>
            </div>
        </popover-content>
        <div class="row calendar-cell-requirements" [popover]="popoverRequirementsContent" [popoverDisabled]="!day.requirementsString" [popoverDismissTimeout]="0">
            <span class="text-left">{{day.requirementsString ? day.requirementsString : '-'}}</span>
        </div>
    </div>
</div>