.form-group {
    margin-bottom: 2%;
    margin: 1px;
}

.card {
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 0.2%;
}

.card-block {
    padding: 1% 7% 1% 1%;
    width: 8em;
}

.calendar-cell {
    margin: 3px;
}

.calendar-cell-hours {
    font-size: 10px;
    max-width: 5em;
    padding-left: 1px;
    padding-right: 5px;
}

.calendar-cell-worker {
    font-size: 15px;
    width: auto;
    color: black;
    font-weight: bold;
    margin-left: 15px;
}

.calendar-cell-date {
    padding-right: 2px;
    max-width: 6em;
}

.calendar-cell-requirements {
    margin-left: 3px;
}

.weekend,
.holiday {
    background: lightgray;
}

.invalid {
    background: red;
}

.darker {
    background: gray;
}

.calendar-cell-success {
    background-color: #5cb85c;
    color: white;
    padding: 3px;
    font-size: 10px;
}

.calendar-cell-fail {
    background-color: #d9534f;
    color: white;
    padding: 3px;
    font-size: 10px;
}